
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$container-large-desktop: (1020px);
// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Open Sans', helvetica, sans-serif;
  color: rgba(17, 52, 79, 1);
}

header {
  background: url("../images/Free-Ocean-Wallpaper-6.jpg") center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 523px;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
}

/* Position these to bring them above overlay */
nav, h1, h4 {
  position: relative;
}

nav {
  max-width: 1018px;
  margin: 0 auto;

  padding-right: 02.7504912%;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

.logo-container {
  float: left;
  margin-top: 6px;
  margin-left: 14px;
}

.logo-container h2 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 0 2px;
  letter-spacing: .2px;
  position: relative;
  top: -1px;
}

.logo-container h2 > span {
  position: relative;
  left: -2px;
  letter-spacing: 0;
}

.logo-container h2 > span > span {
  letter-spacing: -0.7px;
}

.logo-container img,
.logo-container h2 {
  vertical-align: middle;
}

.header-links {
  float: right;
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}

.header-links li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 11px;
  text-transform: uppercase;
  font-size: 15px;
}

.header-links li:first-child {
  position: relative;
  top: -1px;
}

.header-links li span {
  display: inline-block;
  transform: scaleY(1.5);
  font-weight: bold;
  letter-spacing: -0.5px;
}

.header-links li span,
.header-links li img {
  vertical-align: middle;
}

.header-links li img {
  margin-left: 4px;
  position: relative;
  top: 1px;
  right: 3px;
}

header h1,
header h4 {
  text-align: center;
}

header h1 {
  color: white;
  text-shadow: 0 2px 4px rgba(17, 52, 79, 1);
  text-transform: uppercase;
  margin: 150px 0 0 0;

  font-size: 104px;
  line-height: 104px;
  font-weight: 400;
  letter-spacing: -3px;
}

header h4 {
  font-weight: 400;
  margin: 0;
  font-size: 15px;
  letter-spacing: -1px;
}

/// Body styling /// *left side
// .left-side {
//   margin-left:20px;
// }

.heading-lines {
  margin-top:65px;
}

.heading-top-line,
.heading-bottom-line {
  font-family: 'Oswald', sans-serif;
  font-size: 61px;
  color: #073454;
  line-height: 66px;
  margin-left: 20px;
  margin-top: 13px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.heading-bottom-line {
  letter-spacing: 1px;
  margin-top: -1px;
}

.left-avatar-pic {
  background: url('../images/nickcage.jpg');
  background-size: cover;
  display: inline-block;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-left: 20px;
}

.author-name {
  color: #106eb3;
  margin-left: 6px;
  display: inline-block;
}

.on {
  margin-left: 3px;
  color: #c5cfd6;
  display: inline-block;
}

.author-line {
  margin-bottom: 31px;
  a {
    color: #c5cfd6;
    display: inline-block;
    text-decoration:underline;
    // margin-left: 2px;
  }
}

.left-side {
  p {
    margin-left: 18px;
    color: gray;
    font-size: 15px;
  }
}

.paragraph-1 {
  letter-spacing: .3px;
  line-height: 26px;
  margin-bottom: 28px;
}

.paragraph-2 {
  letter-spacing: 0.2px;
  line-height: 26px;
  a {
    color: #c5cfd6;
    display: inline-block;
    text-decoration:underline;
  }
}

.left-side {
  h2 {
    height: 56px;
    font-size: 28px;
    color: #196fb3;
    text-transform: uppercase;
    border-left: 2px solid #c5cfd6;
    margin-left: 24px;
    letter-spacing: -.6px;
    padding-top: 15px;
    padding-left: 16px;
  }
}

.paragraph-3 {
  margin-top: 27px;
  letter-spacing: 0.2px;
  line-height: 26px;
}

.paragraph-4 {
  margin-top: 25px;
  letter-spacing: 0.3px;
  line-height: 26px;

}



// .paragraph-1 {
//   margin-left: 20px;
// }
