
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$container-large-desktop: (1020px);
// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Open Sans', helvetica, sans-serif;
  color: rgba(17, 52, 79, 1);
}

header {
  background: url("../images/Free-Ocean-Wallpaper-6.jpg") center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 523px;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 118, 178, 0.7);
}

/* Position these to bring them above overlay */
nav, h1, h4 {
  position: relative;
}

nav {
  max-width: 1018px;
  margin: 0 auto;

  padding-right: 02.7504912%;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

.logo-container {
  float: left;
  margin-top: 6px;
  margin-left: 14px;
}

.logo-container h2 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 0 2px;
  letter-spacing: .2px;
  position: relative;
  top: -1px;
}

.logo-container h2 > span {
  position: relative;
  left: -2px;
  letter-spacing: 0;
}

.logo-container h2 > span > span {
  letter-spacing: -0.7px;
}

.logo-container img,
.logo-container h2 {
  vertical-align: middle;
}

.header-links {
  float: right;
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}

.header-links li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 11px;
  text-transform: uppercase;
  font-size: 15px;
}

.header-links li:first-child {
  position: relative;
  top: -1px;
}

.header-links li span {
  display: inline-block;
  transform: scaleY(1.5);
  font-weight: bold;
  letter-spacing: -0.5px;
}

.header-links li span,
.header-links li img {
  vertical-align: middle;
}

.header-links li img {
  margin-left: 4px;
  position: relative;
  top: 1px;
  right: 3px;
}

header h1,
header h4 {
  text-align: center;
}

header h1 {
  color: white;
  text-shadow: 0 2px 4px rgba(17, 52, 79, 1);
  text-transform: uppercase;
  margin: 150px 0 0 0;

  font-size: 104px;
  line-height: 104px;
  font-weight: 400;
  letter-spacing: -3px;
}

header h4 {
  font-weight: 400;
  margin: 0;
  font-size: 15px;
  letter-spacing: -1px;
}

/// Body styling /// *left side
// .left-side {
//   margin-left:20px;
// }

.heading-lines {
  margin-top:65px;
}

.heading-top-line,
.heading-bottom-line {
  font-family: 'Oswald', sans-serif;
  font-size: 61px;
  color: #073454;
  line-height: 66px;
  margin-left: 20px;
  margin-top: 13px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.heading-bottom-line {
  letter-spacing: 1px;
  margin-top: -1px;
}

.left-avatar-pic {
  background: url('../images/nickcage.jpg');
  background-size: cover;
  display: inline-block;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-left: 20px;
}

.author-name {
  color: #106eb3;
  margin-left: 6px;
  display: inline-block;
}

.on {
  margin-left: 3px;
  color: #c5cfd6;
  display: inline-block;
}

.author-line {
  margin-bottom: 31px;
  a {
    color: #c5cfd6;
    display: inline-block;
    text-decoration:underline;
    // margin-left: 2px;
  }
}

.left-side {
  p {
    margin-left: 18px;
    color: gray;
    font-size: 15px;
  }
}

.paragraph-1 {
  letter-spacing: .3px;
  line-height: 26px;
  margin-bottom: 28px;
}

.paragraph-2 {
  letter-spacing: 0.2px;
  line-height: 26px;
  a {
    color: #c5cfd6;
    display: inline-block;
    text-decoration:underline;
  }
}

.left-side {
  h2 {
    height: 56px;
    font-size: 28px;
    color: #196fb3;
    text-transform: uppercase;
    border-left: 2px solid #c5cfd6;
    margin-left: 24px;
    letter-spacing: -.6px;
    padding-top: 15px;
    padding-left: 16px;
  }
}

.paragraph-3 {
  margin-top: 27px;
  letter-spacing: 0.2px;
  line-height: 26px;
}

.paragraph-4 {
  margin-top: 25px;
  letter-spacing: 0.3px;
  line-height: 26px;

}

.left-side-nav {
  list-style: none;
  margin-left: 21px;
}

.left-side-nav li {
  display: inline-block;
  button {
    margin-top: 10px;
  }
}

.read-comments {
  width: 158px;
  height: 30px;
  color: white;
  border: 1px solid #c5cfd6;
  background-color: #c5cfd6;
  font-family: 'Open Sans';
  margin-top: 9px;
  i {
    border: 4px solid #5e686e;
    background-color: #5e686e;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: -3px;
    margin-left: -14px;
    padding-right: 5px;
    padding-left: 6px;
  }
}

.read-later {
  margin-left: 6px;
  height: 30px;
  width: 128px;
  color: white;
  border: 1px solid #c5cfd6;
  background-color: #c5cfd6;
  font-family: 'Open Sans';
  i {
    border: 4px solid #5e686e;
    background-color: #5e686e;
    color: white;
    padding-left: 6px;
    padding-right: 4px;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-top: -3px;
    margin-left: -12px;
    margin-right: 8px;
  }
}

.share-this-post {
  margin-left: 7px;
  height: 30px;
  width: 154px;
  color: white;
  border: 2px solid #106eb3;
  background-color:#106eb3;
  font-family: 'Open Sans';
  i {
    border: 4px solid #073454;
    background-color: #073454;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 6px;
    padding-left: 6px;
    margin-top: -4px;
    margin-bottom: -9px;
    margin-left: -17px;
  }
}

/// *right-side styling ////

.right-avatar-pic {
  background: url('../images/nickcage.jpg');
  // content: "";
  // position: absolute;
  // background: rgba(46, 118, 178, 0.7);
  background-size: cover;
  height: 84px;
  width: 84px;
  border-radius: 50%;
  margin-top: 83px;
  margin-left: 135px;
}

// .right-avatar-pic::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background: rgba(46, 118, 178, 0.7);
// }

.left-side-author-name {
  color: #196fb3;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin-left: 43px;
  margin-top: 11px;
  margin-bottom: 1px;
  text-align: center;
}

.social-links {
    display: inline-block;
  // text-align: center;
    margin-left: 111px;
  a {
    display: inline-block;
    font-family: 'Open Sans';
    color: #c5cfd6;
    font-size: 13px;
    position: relative;
    left: -32px;
    letter-spacing: -.2px;
  }
}

.social-links {
  .twitter {
    margin-right: 19px;
  }
}

.social-links {
  .facebook {
    margin-right: 19px;
  }
}

.right-side-photo {
  background: url('../images/billmurray.jpg');
  background-size: cover;
  width: 278px;
  height: 300px;
  margin-left: 36px;
  margin-top: 50px;
  margin-right: 10px;
}

.right-side-about {
  margin-top: 6px;
  a {
    text-decoration: none;
    color: #c5cfd6;
    text-decoration: underline;
    font-size: 13px;
    margin-left: 225px;
  }
}

.right-side {
  h4 {
    color: #196fb3;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-top: 48px;
    margin-left: 36px;
  }
}

.right-side {
  p {
    color: #c5cfd6;
    margin-left: 36px;
    line-height: 24.2px;
    letter-spacing: -.4px;
    span {
      text-decoration: underline;
    }
  }
}

/// footer styling ///
.footer {
  margin-top: 67px;
  border-top: 1px solid rgba(197, 207, 214, 1);
  h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 61px;
    color: #073454;
    margin-top: 35px;
    letter-spacing: 1.1px;
    margin-left: 21px;
  }
}

.footer-pics {
  margin-top: 34px;
}

.pic-1 {
  background: url('../images/surf1.jpg');
  background-size: cover;
  // width: 324px;
  height: 330px;
  display: inline-block;
  position: relative;
}

.pic-2 {
  background: url('../images/surf2.jpg');
  background-size: cover;
  // width: 325px;
  height: 330px;
  display: inline-block;
  position: relative;
}

.pic-3 {
  background: url('../images/surf3.jpg');
  background-size: cover;
  // width: 324px;
  height: 330px;
  display: inline-block;
  position: relative;
}

.pic-4 {
  background: url('../images/surf1.jpg');
  background-size: cover;
  // width: 324px;
  height: 330px;
  display: inline-block;
  position: relative;
}

.footer-title-1,
.footer-title-2,
.footer-title-3,
.footer-title-3-secondline,
.footer-title-4 {
  font-size: 29px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;

}

.footer-title-1 {
  letter-spacing: 0.2px;
  margin-top: 280px;
}

.footer-title-2 {
  margin-top: 280px;
  letter-spacing: 0.2px;
  margin-left: 6px;
}

.footer-title-3 {
  margin-top: 240px;
  margin-left: 13px;
  letter-spacing: .5px;
}

.footer-title-3-secondline {
  margin-left: 13px;
  letter-spacing: .3px;
  margin-top: -4px;
}

.footer-title-4 {
  margin-top: 279px;
  margin-left: 20px;
  letter-spacing: .2px;
}

.bottom-footer {
  background-color: rgba(7, 51, 83, 1);
  height: 100px;
  img {
    margin-left: 150px;
    margin-top: -6px;
  }
}

.bottom-footer {
  p {
    color: white;
  }
}

.tiy-copyright {
  display: inline-block;
  margin-top: 38px;
  margin-left: 1px;
  letter-spacing: -.3px;
}

.footer-nav-list {
  display: inline-block;
  float: right;
  margin-right: 131px;
  margin-top: 39px;
  letter-spacing: -.1px;
}

.nav1,
.nav2,
.nav3 {
  display: inline-block;
  color: #a3b2bf;
  border-right: 1px solid #5e686e;
  padding-right: 7px;
  padding-left: 4px;
  line-height: 15px;
  
}

.nav4 {
  display: inline-block;
  color: #a3b2bf;
  padding-right: 7px;
  padding-left: 4px;
  line-height: 15px;
}
